//_ Global style

.card {
  border: 1px solid $border-color;

  &--is-displayed-on-modal {
    .modal-content & {
      border: 0;
      padding: 0;
      box-shadow: none;
      background: transparent;
    }
  }
}

.project-user {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 7.5px;

  div {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    padding-left: $column-gap;

    span {
      &:last-child:not(:first-child) {
        font-size: 1.1rem;
        text-transform: uppercase;
        font-weight: $weight-bold;
        color: $grey;
      }
    }
  }
}

.has-vertical-separation {
  position: relative;

  @include widescreen {
    &:before {
      content: '';
      position: absolute;
      height: calc(100% - 56px);
      width: 1px;
      display: inline-block;
      background-color: $border-color;
      top: 56px;
      left: calc(75% - 0.5px + 7.5px);
    }
  }

  &--left {
    &:before {
      top: 0;
      height: 100%;
      left: calc(75% - 0.5px + 7.5px);
    }
  }
}
