.dropdown-item {
  font-size: $size-6;
}

.dropdown-menu {
  &.is-large {
    min-width: $dropdown-menu-large-min-width;
  }
}

.dropdown.is-west .dropdown-menu {
  top: -1.5rem;
  right: 200%;
  bottom: unset;
  left: unset;
}
