.has-notification {
  position: absolute;
  right: -3px;
  top: -3px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: $notification-dot-width;
  width: $notification-dot-width;
  border-radius: $notification-dot-width;

  @each $name, $pair in $colors {
    $color: nth($pair, 1);
    $color-invert: nth($pair, 2);
    &.is-#{$name} {
      background-color: $color;
      color: $color-invert;
    }
  }

  > span {
    position: relative;
    top: 1px;
    left: 0;
    display: flex;
    font-family: $family-sans-serif;
    font-size: $size-8;
    font-weight: $weight-bold;
    line-height: $size-8;
    color: $white;
  }
}

.notification {
  position: fixed;
  bottom: 20px;
  z-index: 99;
  @include tablet {
    width: 80vw;
    left: 10vw;
  }
  @include desktop {
    left: calc(50vw - 310px);
    width: 620px;
  }
  @include mobile {
    width: calc(100% - 40px);
    left: 20px;
  }
}
