// Buttons
$control-border-width: 2px !default;
$button-hover-color: $danger !default;
$button-padding-horizontal: 4rem !default;
$radius: 2px !default;
$control-height: 3em !default;
$control-shadow-secondary: 0 6px 16px 0 rgba($primary, 0.2) !default;
$size-small: 1.2rem !default;
