$switch-background: $grey !default;
$switch-border: 0.1rem solid transparent !default;
$switch-background-active: $link !default;
$switch-paddle-background: $white !default;
$switch-paddle-background-active: $link !default;
$switch-focus: 0 !default;
