// Colors

$black: #303032 !default;
$white: #fff !default;

$grey: #c6c6c6 !default;

$grey-light: #e0e0e0 !default;
$grey-lighter: #efefef !default;
$white-ter: #f5f5f5 !default;

$link: #ff5f62 !default;
$link-light: #ffe2e2 !default;
$link-lighter: #fff5f5 !default;

$success: #32bf76 !default;
$danger: #b62b47 !default;

$main-background: $white-ter !default;

$nav-item-hover: #453537 !default;
$nav-item-color: $white-ter !default;
$side-nav-background: $black !default;

$field-background: $white-ter !default;
$field-background-hover: $white-ter !default;
$field-background-active: $white-ter !default;
$placeholder: #8d929d !default;
$field-border-focus: $grey-light !default;
