// Colors

$black: #1d2823 !default;
$white: #fff !default;

$grey: #b6b6b6 !default;

$grey-light: #e0e0e0 !default;
$grey-lighter: #f8fffc !default;

$link: #31be76 !default;
$link-light: #eaf9f1 !default;
$link-lighter: #f8fffc !default;

$main-background: #fafafa !default;
