<!-- Heading -->
<div
  class="is-flex flex-mobile is-justify-content-space-between is-align-items-center mb-2"
>
  <div class="left-part">
    <h1 class="title is-2 has-text-weight-light">Cars (dummy resource)</h1>
    <p>
      <a routerLink="/create-edit" fragment="roleId">Go to create edit page</a>
    </p>
  </div>
</div>

<!-- Filters -->
<section>
  <div class="card p-4 mt-4 mb-6">
    <div class="columns">
      <div class="column">
        <h2 class="title is-6 has-text-weight-bold is-uppercase has-text-grey">
          Filtres
        </h2>
      </div>
    </div>
    <div class="columns is-multiline is-align-items-flex-end">
      <div
        class="column"
        [ngClass]="filter.className"
        *ngFor="let filter of resolvedFilters"
      >
        <case-input
          [type]="filter.inputType"
          [properties]="filter.properties"
          [initialValue]="filter.initialValue"
          [selectOptions]="filter.selectOptions"
          [label]="filter.label"
          [searchResources]="filter.searchResources"
          [placeholder]="filter.placeholder"
        ></case-input>
      </div>
    </div>
  </div>
</section>

<!-- List -->
<ng-container *ngIf="paginator">
  <div
    class="is-flex is-justify-content-space-between is-align-items-center relative"
  >
    <case-meta [paginator]="paginator"> </case-meta>
  </div>

  <div class="card p-0 mb-6">
    <div class="table-container">
      <case-table
        [items]="paginator.data"
        [definition]="definition"
        [yields]="yields"
      ></case-table>
    </div>
  </div>
</ng-container>

<!-- Inputs -->
<h2 class="title is-2">Inputs</h2>

<case-address-input label="Addresse de l'entreprise"></case-address-input>

<case-email-input
  label="votre email"
  placeholder="allez..."
  showErrors="true"
  [validators]="requiredValidator"
></case-email-input>
<case-datepicker-input
  showErrors="true"
  [validators]="requiredValidator"
></case-datepicker-input>
<case-multi-search-input
  showErrors="true"
  [validators]="requiredValidator"
></case-multi-search-input>

<case-rich-text-input
  [initialValue]="{ value: '' }"
  [validators]="requiredValidator"
  [showErrors]="true"
></case-rich-text-input>

<case-date-range-input
  [placeholder]="'test'"
  [secondPlaceholder]="'date to'"
></case-date-range-input>

<div class="card p-0 mb-6">
  <div class="table-container"></div>
</div>

<a class="button is-warning" [caseAction]="createTicketAction"
  >Create a new ticket (CASE Action)</a
>

<div *ngIf="loading" class="is-list-loading pt-7">
  <div></div>
  <div></div>
  <div></div>
  <div></div>
  <div></div>
  <div></div>
  <div></div>
  <div class="is-hidden-touch"></div>
  <div class="is-hidden-touch"></div>
  <div class="is-hidden-touch"></div>
  <div class="is-hidden-touch"></div>
  <div class="is-hidden-touch"></div>
  <div class="is-hidden-touch"></div>
  <div class="is-hidden-touch"></div>
</div>
