//  _Object-fit

// This mixin can be used to set the object-fit:
// @include object-fit(contain);
// or object-fit and object-position:
// @include object-fit(cover, top);

@mixin object-fit($fit: fill, $position: null) {
  -o-object-fit: $fit;
  object-fit: $fit;
  @if $position {
    -o-object-position: $position;
    object-position: $position;
    font-family: 'object-fit: #{$fit}; object-position: #{$position}';
  } @else {
    font-family: 'object-fit: #{$fit}';
  }
}

// Transitions

@mixin transition($val: ease 0.5s) {
  -webkit-transition: $val;
  -moz-transition: $val;
  -o-transition: $val;
  transition: $val;
  -ms-transition: $val;
  webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

// Fonts

@mixin font($ff: 'UniversLTStd') {
  font-family: $ff;
  @if $ff == 'UniversLTStd' {
    font-weight: normal;
    font-style: normal;
  } @else if $ff == 'Verdana-Bold' {
    font-weight: normal;
    font-style: normal;
  } @else if $ff == 'Verdana-Italic' {
    font-weight: normal;
    font-style: normal;
  } @else if $ff == 'Verdana-BoldItalic' {
    font-weight: normal;
    font-style: normal;
  } @else if $ff == 'Verdana' {
    font-weight: normal;
    font-style: normal;
  } @else if $ff == 'BlairITCStd-Bold' {
    font-weight: normal;
    font-style: normal;
  } @else if $ff == 'UniversLTStd-Bold' {
    font-weight: normal;
    font-style: normal;
  } @else if $ff == 'UniversLTStd-Black' {
    font-weight: normal;
    font-style: normal;
  } @else if $ff == 'UniversLTStd-BoldObl' {
    font-weight: normal;
    font-style: normal;
  } @else if $ff == 'UniversLTStd-Light' {
    font-weight: normal;
    font-style: normal;
  } @else if $ff == 'UniversLTStd-Obl' {
    font-weight: normal;
    font-style: normal;
  } @else if $ff == 'UniversLTStd-LightObl' {
    font-weight: normal;
    font-style: normal;
  }
}

// Gradients

@mixin gradient($left: $link, $right: $link-light) {
  background: #{$left}; /* Old browsers */
  background: -moz-linear-gradient(
    left,
    #{$left} 0%,
    #{$right} 100%
  ); /* FF3.6-15 */
  background: -webkit-linear-gradient(
    left,
    #{$left} 0%,
    #{$right} 100%
  ); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(
    to right,
    #{$left} 0%,
    #{$right} 100%
  ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#{$left}', endColorstr='#{$right}', GradientType=1); /* IE6-9 */
}

@mixin gradient-col($top: $link, $bottom: $link-light) {
  background: #{$top}; /* Old browsers */
  background: -moz-linear-gradient(
    top,
    #{$top} 0%,
    #{$bottom} 100%
  ); /* FF3.6-15 */
  background: -webkit-linear-gradient(
    top,
    #{$top} 0%,
    #{$bottom} 100%
  ); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(
    to bottom,
    #{$top} 0%,
    #{$bottom} 100%
  ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#{$top}', endColorstr='#{$bottom}', GradientType=1); /* IE6-9 */
}
@mixin gradient-col-hover($top: $link, $bottom: $link-light) {
  background: #{$top}; /* Old browsers */
  background: -moz-linear-gradient(
    top,
    #{$top} 25%,
    #{$bottom} 100%
  ); /* FF3.6-15 */
  background: -webkit-linear-gradient(
    top,
    #{$top} 25%,
    #{$bottom} 100%
  ); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(
    to bottom,
    #{$top} 25%,
    #{$bottom} 100%
  ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#{$top}', endColorstr='#{$bottom}', GradientType=1); /* IE6-9 */
}

@mixin gradient-hover($left: $link, $right: $link-light) {
  background: #{$left}; /* Old browsers */
  background: -moz-linear-gradient(
    left,
    #{$left} 12%,
    #{$right} 100%
  ); /* FF3.6-15 */
  background: -webkit-linear-gradient(
    left,
    #{$left} 12%,
    #{$right} 100%
  ); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(
    to right,
    #{$left} 12%,
    #{$right} 100%
  ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#{$left}', endColorstr='#{$right}', GradientType=1); /* IE6-9 */
}

@mixin gradient-diag($left: $link, $right: $link-light) {
  background: #{$left}; /* Old browsers */
  background: -moz-linear-gradient(
    -45deg,
    #{$left} 0%,
    #{$right} 100%
  ); /* FF3.6-15 */
  background: -webkit-linear-gradient(
    -45deg,
    #{$left} 0%,
    #{$right} 100%
  ); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(
    135deg,
    #{$left} 0%,
    #{$right} 100%
  ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#{$left}', endColorstr='#{$right}', GradientType=1); /* IE6-9 fallback on horizontal gradient */
}

// Shadow

@mixin shadow($shadow-color: $black) {
  box-shadow: 0 42px 64px rgba($shadow-color, 0.16);
}

@mixin shadow-small($shadow-color: $black) {
  box-shadow: 0 24px 44px rgba($shadow-color, 0.1);
}

// Responsive

// _Media Queries

// add thoses mixins only if it s necessary

@mixin small-mobile {
  @media screen and (max-width: #{$small-mobile}) {
    @content;
  }
}

@mixin before {
  content: '';
  position: absolute;
  display: inline-block;
}

/*
    This mixin can be used to set the object-fit:
    @include object-fit(contain);
    or object-fit and object-position:
    @include object-fit(cover, top);
  */
@mixin object-fit($fit: fill, $position: null) {
  -o-object-fit: $fit;
  object-fit: $fit;
  @if $position {
    -o-object-position: $position;
    object-position: $position;
    font-family: 'object-fit: #{$fit}; object-position: #{$position}';
  } @else {
    font-family: 'object-fit: #{$fit}';
  }
}
