$black: #263045 !default; // Overload
$white: #fff !default; // Overload

$dark: $black !default; // Overload
$light: $white !default; // Overload

$grey: #8798ad !default;

$black-bis: $dark !default;
$black-ter: $dark !default;
$grey-darker: $dark !default;
$grey-dark: #7e6d72;
$grey-light: #b0bac9 !default;
$grey-lighter: #e9eeff !default;
$white-ter: $light !default;
$white-bis: $light !default;

$link: #5065ff !default; // Overload
$link-light: #dfe5ff !default; //#eff2ff !default;
$link-lighter: #f9faff !default;

$link-alpha10: rgba($link, 0.1) !default;
$link-alpha07: rgba($link, 0.07) !default;
$link-alpha03: rgba($link, 0.03) !default;

$primary: $link !default; // Overload

$success: $link !default; // Overload
$success-light: rgba(#57b3a0, 0.1) !default;

$info: $link-light !default; // Overload
$info-light: rgba(#1eb1e8, 0.1) !default;
$info-lighter: $link-lighter !default;

$warning: #ff9d51 !default;
$warning-light: rgba(#f8a94a, 0.1) !default;
$warning-lighter: #fcf5f0 !default;

$danger: #f05c22 !default;
$danger-light: rgba(#f46470, 0.1) !default;
$danger-lighter: #fffbfa !default;

$border-color-input: $link-alpha10 !default;
$border-color: $grey-lighter !default;
