$dropdown-menu-min-width: 12rem !default; //BulmaStyle
$dropdown-content-padding-bottom: 1rem !default;
$dropdown-content-padding-top: 1rem !default;

$dropdown-item-hover-color: $link !default;
$dropdown-item-hover-background-color: $link-light !default;
$dropdown-item-active-color: $link !default;
$dropdown-item-active-background-color: $link-light !default;

$dropdown-divider-background-color: $border-color !default;
