//  Custom variables
$nav-item-hover: $link-light !default;
$nav-item-color: $black !default;
$side-nav-background: $white !default;

// Navbar
$navbar-height: 8rem !default;
$navbar-item-color: $dark !default;
$navbar-item-hover-color: $link !default;
$navbar-item-hover-background-color: transparent !default;
$navbar-item-active-color: $link !default;
$navbar-item-active-background-color: transparent !default;
$navbar-item-img-max-height: unset !default;
