<section>
  <div
    class="is-flex is-justify-content-space-between is-align-items-center mb-5"
  >
    <div class="left-part">
      <h1 class="title is-2 has-text-weight-light">Create edit</h1>
    </div>
    <div class="right-part">
      <button
        class="button is-link is-hidden-touch"
        [ngClass]="{ 'is-loading': loading }"
      >
        Enregistrer
      </button>
      <button
        class="button is-link is-rounded is-hidden-desktop"
        [ngClass]="{ 'is-loading': loading }"
      >
        <i class="icon icon-save"></i>
      </button>
    </div>
  </div>

  <form>
    <div class="card p-4">
      <!-- Fields -->
      <div class="columns is-multiline is-align-items-flex-end">
        <ng-container *ngFor="let field of fields">
          <div
            class="column is-flex is-align-items-flex-end"
            [ngClass]="field.className"
            *ngIf="!field.hidden"
          >
            <case-input
              [type]="field.inputType"
              [initialValue]="field.initialValue"
              [searchResources]="field.searchResources"
              [resourceName]="'no-slug'"
              [searchParams]="field.searchParams"
              [maxSelectedItems]="field.maxSelectedItems"
              [selectOptions]="field.selectOptions"
              [min]="field.min"
              [max]="field.max"
              [label]="field.label"
              [placeholder]="field.placeholder"
              [validators]="field.validators || []"
              [showErrors]="false"
            ></case-input>
          </div>
        </ng-container>
      </div>
    </div>
  </form>
</section>
