.card-user {
  display: flex;
  align-items: center;
  justify-content: flex-start;

  + .card-user {
    margin-top: 7.5px;
  }

  div {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    padding-left: $column-gap;

    span {
      &:last-child {
        font-size: 1.1rem;

        color: $grey-light;
      }
    }
  }
}
