.main.column {
  width: 100%;
  @include touch {
    padding: $column-gap $gap;
  }
  @include mobile {
    padding: $column-gap $gap;
  }
  @include desktop {
    padding: $column-gap $gap;
    width: 75%;
  }
  @include widescreen {
    width: calc(100vw - 16.66667% - 32px);
  }
  @include fullhd {
    padding: 15px 110px;
    width: calc(100vw - 12% - 220px);
  }

  .is-collapsed & {
    @include desktop {
      width: calc(100vw - 78px - 220px);
    }
  }

  > article {
    margin-top: $gap;
  }
}
