table,
.table {
  > thead > tr,
  > tbody > tr {
    &.is-danger {
      background-color: rgba($danger, 0.04);
      border-left: 7px solid $danger;
      color: $danger;
    }
    &.is-warning {
      background-color: rgba($warning, 0.04);
      border-left: 7px solid $warning;
      color: $warning;
    }
    &.is-info {
      background-color: rgba($info, 0.04);
      border-left: 7px solid $info;
      color: $info;
    }
    &.is-success {
      background-color: rgba($success, 0.04);
      border-left: 7px solid $success;
      color: $success;
    }
    // TODO: Better color
    &.is-disabled {
      background-color: rgba($black, 0.04);
      border-left: 7px solid $black;
      color: rgba($black, 0.72);
    }
    &.is-link {
      background-color: rgba($link, 0.04);
      border-left: 7px solid $link;
      color: $link;
    }

    &[class^='is-'] {
      .dropdown-item {
        color: $black;

        &:focus,
        &:hover,
        &:active,
        &.is-active {
          background-color: transparent;
          color: $link;
        }
      }
    }
  }
  thead th,
  > tbody > tr > td,
  thead > tr > td,
  thead th {
    vertical-align: middle !important;

    &:first-child {
      padding-left: $gap;
    }
    &:last-child {
      padding-right: $gap;
    }

    &.avatars {
      min-width: 110px;
    }

    a {
      color: inherit;
      &:hover,
      &:focus {
        color: inherit;
      }
      &.has-text-link {
        font-weight: $weight-bold;
      }
    }
  }
}

.more {
  height: 100%;
  position: relative;

  > span {
    display: flex;
    align-items: center;
    height: 100%;
  }
}

.is-nowrap {
  white-space: nowrap;
}

// New
th {
  white-space: nowrap;
  text-transform: uppercase;
}

thead {
  white-space: nowrap;
}

td {
  @include transition(all 0.05s ease-in-out);

  &.is-narrow {
    padding-top: 0.8em;
    padding-bottom: 0.8em;
  }
}
