.text-is-dark {
  color: $dark;
}
.text-is-primary {
  color: $primary;
}
.text-is-link {
  color: $link;
}
.text-is-grey {
  color: $grey;
}
.text-is-light {
  color: $light;
}
.text-is-link-light {
  color: $link-light;
}
.text-is-grey-light {
  color: $grey-light;
}

.content.is-small {
  letter-spacing: 0.4px;
}

th {
  font-weight: $weight-bold;
}
table {
  font-size: $size-7;
  @include fullhd {
    font-size: $size-6;
  }
}

// Main rules

.light {
  font-weight: 300 !important;
}

.is-size-8 {
  font-size: $size-8;
}

.is-medium {
  font-weight: 500;
}
//Title

.title {
  color: $dark;
}

h1.title.is-2 {
  > .icon {
    position: relative;
    top: 1.5px;
  }
}

h1,
.title.is-1,
.h1 {
  font-weight: 100;

  @include touch {
    font-size: 3.2rem;
  }
}

.title--small {
  font-weight: 500;
  text-transform: uppercase;
  color: #303032;
  padding-bottom: 5px;
  display: inline-block;
  font-size: $size-8;
  margin-bottom: 0;
}
// Badges

.badge {
  height: 25px;
  margin: 2.5px 5px 2.5px 0;
  padding: 2px 5px 0 5px !important;
  font-weight: 500;
  display: inline-flex;
  justify-content: center;
  align-items: center;

  @include touch {
    font-size: 0.825em;
  }
  &.is-info {
    background-color: $info-light;
    color: $link;
  }
  &.is-success {
    background-color: $success-light;
    color: $success;
  }
  &.is-link {
    background-color: $link-light;
    color: $link;
  }
}

.total {
  position: absolute;
  top: 0;
  right: 30px;

  &.aligned-to-title {
    top: -30px;
  }

  &--alt {
    right: 0;
    top: unset;
    bottom: 0;
  }
}

//_ Global rules
hr {
  height: 1px;
  background-color: $border-color;
}

a {
  &.no-deco {
    color: inherit;

    &:hover,
    &:focus {
      color: inherit;
    }
  }
  &[routerLink],
  &[href],
  &[ng-reflect-router-link] {
    cursor: pointer;

    .main &:hover {
      text-decoration: underline;
    }
  }

  &.become-link {
    color: $grey;
    &:hover,
    &:focus,
    &:active {
      color: $link !important;
    }
  }
}

.is-italic {
  font-style: italic;
}
.no-transfo {
  text-transform: none;
}
.is-regular {
  font-weight: 400;
}

a,
button,
.button {
  &.is-disabled,
  &[disabled] {
    cursor: no-drop;
    color: $grey-light !important;
  }
}
//_ Specific rules
.status-text {
  font-size: 1.1rem;
  font-weight: 500;
  text-transform: uppercase;
}

.coma-list {
  display: inline-block;
  + .coma-list {
    &:before {
      content: ',';
      padding-right: 2px;
    }
  }
}

//_ Tooltip

.tooltip {
  &:before {
    background-color: $dark !important;
    border: 1px solid $dark;
    color: $light !important;
    font-size: 1.3rem !important;
    z-index: 99;
  }
}

// _ Tags

.tag--event {
  padding: 8px 12px !important;
  margin: 0 $gap 0 0 !important;
  border-radius: 3px !important;
  > b {
    background: -webkit-linear-gradient($warning, $danger);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

.visible-on-hover {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
  top: 0;
  left: 0;
  @include transition(all 0.18s ease-in-out);

  &:hover {
    opacity: 1;
  }
}

.is-default,
.is-default a {
  cursor: default;
}

.is-light {
  font-weight: 300;
}

.is-bold,
strong,
b {
  font-weight: 500;
}
span.highlighted {
  color: red !important;
}
